@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.App {
  text-align: center;
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.titlebarwrapper {
  display: block;
  position: absolute;
  width: 100vw;
  top: 0px;
  right: 0px;
  height: 37px;
  padding: 0;
  z-index: 80;
  background-color: transparent;
  -webkit-app-region: drag;
}

.titlebar {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 32px;
  padding: 0;
}

.titleheader {
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
  font-family: "Barlow";
  color: #8fa9af;
  -webkit-app-region: drag;
}

.titlebar.draggable {
  -webkit-app-region: drag;
}

.titlebar-controls {
  float: right;
  text-align: left;
  z-index: 100;
}

.titlebar:after,
.titlebar-controls:after {
  content: " ";
  display: table;
  clear: both;
}

.titlebar-minimize,
.titlebar-resize,
.titlebar-close {
  float: left;
  width: 45px;
  height: 35px;
  margin: 0;
  text-align: center;
  line-height: 29px;
  z-index: 100;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.titlebarwrapper .titlebar-minimize,
.titlebarwrapper .titlebar-resize,
.titlebarwrapper .titlebar-close {
  -webkit-app-region: no-drag;
}

.titlebar-minimize svg,
.titlebar-resize svg.maximize-svg,
.titlebar-resize svg.fullscreen-svg,
.titlebar-close svg {
  width: 10px;
  height: 10px;
  shape-rendering: crispEdges;
}

.titlebar-close svg polygon {
  -webkit-transition: fill 0.2s;
  -moz-transition: fill 0.2s;
  -ms-transition: fill 0.2s;
  -o-transition: fill 0.2s;
  transition: fill 0.2s;
}

.titlebar:not(.fullscreen) svg.maximize-svg {
  display: none;
}

.titlebar.fullscreen svg.fullscreen-svg {
  display: none;
}

.titlebar-minimize:hover,
.titlebar-resize:hover,
.titlebar-fullscreen:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.titlebar-light .titlebar-minimize:hover,
.titlebar-light .titlebar-resize:hover,
.titlebar-light .titlebar-fullscreen:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.titlebar-close:hover {
  background-color: rgba(232, 17, 35, 0.9);
}

.titlebar-close:hover svg polygon {
  fill: rgba(255, 255, 255, 1);
}

.titlebar-light .titlebar-close:hover {
  fill: rgba(0, 0, 0, 1);
}

.titlebar-light svg polygon,
.titlebar-light svg rect,
.titlebar-light svg > path {
  fill: rgba(255, 255, 255, 1);
}

.titlebar-light .titlebar-close:hover {
  background-color: rgba(232, 17, 35, 0.9);
}

.button-title {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
